@model Ptc.Seteng.Models.TechnicianEditViewModel
@{
    ViewBag.Title = "Modify";
    var attr = new { @class = "col-xs-12  col-sm-2 col-md-4  control-label" };
    var attrrequire = new { @class = "col-xs-12  col-sm-2 col-md-4  control-label  require" };
    var divattr = "col-xs-12 col-sm-12 col-md-5 ";
}



<div class="row" style="padding-bottom:2%">
    <div class="col-xs-12">
        <button class="btn-title-style cust-font-style btn-arrow-right btn-title-bgc">修改</button>
    </div>
</div>

@using (Html.BeginForm("Modify", "Technician", FormMethod.Post, new { @id = "updateForm", @name = "updateForm", @class = "form-horizontal", @role = "form", @enctype = "multipart/form-data" }))
{

    <div class="row">
        <div class="@divattr">
            <!--公司-->
            @TechnicianHelper.TextBoxFor(Html, m => m.CompName, new { @disabled = "disabled" }, attr)
        </div>
        <div class="@divattr">
            <!--厂商-->
            @TechnicianHelper.TextBoxFor(Html, m => m.VendorName, new { @disabled = "disabled" }, attr)
        </div>


    </div>

    <div class="row">
        <div class="@divattr">
            <!--账号-->
            @TechnicianHelper.TextBoxFor(Html, m => m.Account, null, attr)
        </div>
        <div class="@divattr">
            <!--姓名-->
            @TechnicianHelper.TextBoxFor(Html, m => m.Name, null, attr)
        </div>
    </div>

    <div class="row">

        <div class="@divattr">
            <!--密码-->
            @TechnicianHelper.TextBoxFor(Html, m => m.Password, new { @style = "width: 100%", @type = "password" }, attr)
        </div>

        <div class="@divattr">
            <!--是否启用-->
            @TechnicianHelper.RadioButtonFor(Html, x => x.Enable, null, attr)
        </div>
    </div>

    <div class="row">

        <div class="@divattr" id="passwd">
            <div id="NewPwd">
                <!--确认新密码-->
                @TechnicianHelper.PasswordFor(Html, m => m.NewPassword, new { @style = "width: 100%" }, attrrequire)
            </div>
            <div class="col-xs-12  col-sm-12 col-md-12 col-lg-12">
                <div class="form-group">
                    <div class="col-xs-12  col-sm-2 col-md-4 col-lg-4"></div>
                    <div class="col-xs-12 col-sm-10 col-md-8 col-lg-8">
                        <input type="button" value="變更密碼" id="ChangePwd" class="btn-search btn-sm check-mark" />
                    </div>
                    <div class="col-sm-2"></div>
                </div>
            </div>
        </div>

        <div class="@divattr">
            <!--角色-->
            @TechnicianHelper.RadioButtonFor(Html, x => x.IsVendor, null, attr,"技師主管","技師")
        </div>
    </div>

}
<!--按钮区块-->
<div class="row">
    <div class="col-xs-12 text-center">

        <button type="button" class="btn-search btn-sm AuthRead" id="saveBtn" name="saveBtn" onclick="SubmitBtn()">修改</button>
        <button type="button" class="btn-search btn-sm AuthRead" id="backBtn" name="backBtn" onclick="javascript:location.replace('@Url.Action("Index", "Technician")');">返回</button>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/PTC/PTCValidation.js"></script>
    <script src="~/Scripts/PTC/PTCFileInput.js"></script>
    <!--on page init-->
    <script type="text/javascript">
        jQuery(function ($) {
            window.PTC.Loading(true);

            InitValidation();     //前端验证

            ControlSwitch();      //控件开关

            $("#ChangePwd").click(function () {

                if ($("#NewPwd").is(":hidden")) {
                    $("#NewPwd").show();
                    $(this).val('取消變更');
                }
                else {
                    $(this).val('變更密碼');
                    $("#NewPwd :password").val('');
                    $("#NewPwd").hide();
                }

            })
            window.PTC.Loading(false);
        });
    </script>
    <!--Control switch -->
    <script type="text/javascript">

        function ControlSwitch() {
            $("#Account").prop("disabled", true);                           //账号关闭
            $("#Password").prop("disabled", true);                          //密码关闭
            $("#NewPwd").hide();
        }
    </script>
    <!-- 送出查询 -->
    <script type="text/javascript">

        function SubmitBtn() {

            if (!$("#updateForm").valid()) { return; }     //前端验证

            var url = '@Url.Action("Edit", "Technician")';  //连结

            //組合對象
            var data = new FormData();

            data.append("Account", $('#Account').val());                    //账号
            data.append("Password", $('#Password').val());                  //密码
            data.append("NewPassword", $('#NewPassword').val());            //新密码
            data.append("Name", $('#Name').val());                          //姓名
            data.append("Enable", $('#Enable:checked').val());              //是否账号启用

            data.append("VenderCd", '@Model.VenderCd');                     //厂商
            data.append("CompCd", '@Model.CompCd');                         //公司
            data.append("IsVendor", $('#IsVendor:checked').val());          //角色


            window.PTC.Loading(true);
            $.ajax({
                url: url,
                data: data,
                contentType: false,
                processData: false,
                type: 'POST',
                success: function (data) {
                    if (data.StatusCode == 401) {
                        alert(data.StatusDescription);
                        window.location.reload();
                    }
                    var result = data.Data

                    if (result.IsSuccess) {
                        window.PTC.alertInfo(result.Message)
                        setTimeout(function () {
                            javascript: location.replace('@Url.Action("Index", "Technician")');
                        }, 2000);

                        window.PTC.Loading(false);
                        return;
                    }
                    window.PTC.alertInfo(result.Message)

                    window.PTC.Loading(false);


                },
                error: function (xhr, ajaxOptions, thrownError) {
                    window.PTC.alertInfo(thrownError)
                }

            });

        }
    </script>

    <!--init Validation-->
    <script type="text/javascript">

        function InitValidation() {

            $.validator.addMethod("checkpwd", function (value, element, params) {
                if ($("#NewPwd").is(":hidden"))
                    return true;
                else {
                    if (value)
                        return true;
                    else
                        return false;
                }
            }, "*此欄位為必填");

            //密碼符合的字元(英數特殊符號)
            $.validator.addMethod("alphabetnumberforModify", function (value, element) {
                var re = /^[\x21-\x7e]+$/g;
                if ($("#NewPwd").is(":hidden"))
                    return true;
                else
                    return value.match(re);


            }, "*只能輸入英文、數字、特殊符號");

            $.validator.addMethod("noSpaceforModify", function (value, element) {
                if ($("#NewPwd").is(":hidden"))
                    return true;
                else
                    return value.indexOf(" ") < 0 && value != "";

            }, "*不允許輸入空白");


            $('#updateForm').PTCValidation(
            {
                rules: {
                    NewPassword: { checkpwd: true, maxlength: 40, equalTo: "#NewPassword", alphabetnumberforModify: true },
                    Name: { required: true, maxlength: 20, noSpace: true },
                },

            });
        }

    </script>

}




